
.wrap{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(25, 116, 213);
}


.container{
  width: 550px;
  height: 1200px;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;

}

.wrap_header{
  display: flex;
  width:500px;
  height: 100px;
  border: 1px solid black;
  padding: 25px;
}

.dateBox{
  margin-top: 10px;
  width: 300px;
  height: 50px;
}

.add_Btn_Box{
  margin-left : 100px;
}

.addBtn{
  width:80px;
  height:80px;
  border-radius: 100%;
  border: none;

  font-size: 70px;
  color:white;
  background-color: rgb(100, 199, 194);
}

.toDoCard{
  padding: 25px;
  width : 500px;
  height: 100px;
  border: 1px solid black;
  margin-top: 15px;
}