
.wrap{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(25, 116, 213); */
  background-color: blue;
}


.container{
  width: 550px;
  height: 1200px;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;

}

.wrap_header{
  width:500px;
  height: 150px;
  padding: 25px;

}
.date-list-btn{
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.row{
  width: 550;
}
.toDoInputForm{
  width: 500px;
  height: 50px;

  display: flex;
  justify-content: space-between;
}

#todo_input{
  width: 350px;
}
#todo_submit{
  width:50px;
  height:50px;
  border-radius: 100%;
  border: none;
  font-size: 70px;
  color:white;
  background-color: rgb(100, 199, 194);
  line-height: 50px;
}

.dateBox{
  margin-top: 10px;
  width: 300px;
  height: 50px;
}

.add_Btn_Box{
  margin-left : 100px;
}

.wrap_List{
  width : 550px;
  height: 100%;

  /* display: none; */
}

.toDoCard{
  padding: 10px 20px;
  width : 545xpx;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}


.todoCheckBox{
  width: 30px;
  height: 30px;
  margin-right: 30px;

  border-radius: 100%;
  border: 1px solid gray;
  background-color: white;
}
.text_box{
  width: 450px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_box > :nth-child(2){
  color: gray;
}

.Btn_box{
  width: 120px;
  height: 50px;
}
.Btn_box > .todoBtn{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;

  opacity: 0.5;
}

.Btn_box > .deleteBtn{
  margin-right: 5px;
}

.Btn_box > .deleteBtn:hover{
  opacity: 1;
  background-color: red;
}


.Btn_box > .ModifyBtn:hover{
  opacity: 1;
}